<% layout('layouts/boilerplate') %>
    <div id="TamSayfaAlani">
        <div id="TamSayfaSinirlamaAlani">
            <div id="TamSayfaSolSutunSinirlamaAlani">
                <div id="TamSayfaSolSutunIcMenuAlani">
                    <div id="TamSayfaSolSutunIcMenuAlaniUstMenuBasligi">
                        <% let ueruenler="" %>
                            <% if(typeof erkekUeruenler !=='undefined' ) { %>
                                <% ueruenler=erkekUeruenler%>
                                    <% ueruenRoute='erkekGiyim' ; %>
                                        <p>Erkek Giyim</p>
                                        <span href="/erkekGiyim" target="_top">Tüm Ürünler
                                            (<%=erkekUeruenler.length %>)
                                        </span>
                                        <% } else if(typeof kadinUeruenler !=='undefined' ) { %>
                                            <% ueruenler=kadinUeruenler;%>
                                                <% ueruenRoute='kadinGiyim' ; %>
                                                    <p>Kadin Giyim</p>
                                                    <span href="/kadinGiyim" target="_top">Baskı T-Shirtler
                                                        (<%=kadinUeruenler.length %>)
                                                    </span>
                                                    <% } %>

                    </div>
                    <div id="TamSayfaSolSutunIcMenuAlaniAltKategoriOkuVeMenuBasligi">
                        <img src="/images/arrow-right.png" alt="" title=""><span
                            class="TamSayfaSolSutunIcMenuAlaniMenuBasligi"><a href="/<%=ueruenRoute%>" target="_top">Tüm
                                Ürünler</a></span>
                    </div>
                    <%- include('../../partials/kategori')%>

                        <div id="TamSayfaSagSutunSinirlamaAlani">
                            <div id="TamSayfaSagSutunIciAramaAlani">
                                <form action="/erkekGiyim" method="post">
                                    <div class="TamSayfaSagSutunIciAramaAlaniButonlarIcinKapsamaAlani"><input
                                            type="submit" value=""
                                            class="TamSayfaSagSutunIciAramaAlaniAramayapButonlari"> </div>
                                    <div class="TamSayfaSagSutunIciAramaAlaniInputAlanlariKapsamaAlani"><input
                                            type="text" name="Arama" class="TamSayfaSagSutunIciAramaAlaniTextInputlari">
                                    </div>
                                </form>
                            </div>

                            <div id="TamSayfaSagSutunIciUrunlerAlani">
                                <div id="TamSayfaSagSutunIciUrunlerDengelemeAlani">
                                    <% for(let ueruen of ueruenler) {%>
                                        <% if(ueruen.cesit=='tshirt' ) { %>
                                            <div class="TamSayfaSagSutunIciUrunSinirlamaAlani">
                                                <div class="TamSayfaSagSutunIciUrunResmiDısCercevesi">
                                                    <a href="/<%=ueruenRoute%>/<%=ueruen._id%>/detay"><img
                                                            src="<%=ueruen.images[0].url%>" alt="" title=""></a>
                                                </div>

                                                <div class="TamSayfaSagSutunIciUrunUstBaslikMetni">
                                                    <% if(ueruen.kategori=='erkekGiyim' ) {%>
                                                        Erkek Giyim
                                                        <% } else if (ueruen.kategori='kadinGiyim' ) {%>
                                                            Kadin Giyim
                                                            <% } %>
                                                </div>

                                                <div class="TamSayfaSagSutunIciUrunAltBaslikMetni">

                                                    <%= ueruen.tarif%>
                                                </div>

                                                <div class="TamSayfaSagSutunIciUrunPuanYildizlariAlani">

                                                    <img src="/images/star-1.png" alt="" title="">

                                                </div>

                                                <div class="TamSayfaSagSutunIciUrunFiyatlariAlani mb-1">


                                                    <span class="TamSayfaSagSutunIciUrunAltBaslikMetni">

                                                        <%=ueruen.fiyat%> TL

                                                    </span>

                                                </div>

                                                <% if(isAdmin) {%>
                                                    <div class="güncelle">
                                                        <div class="">
                                                            <a href="" target="_top">
                                                                <img src="/images/delete.png" alt="" title="">
                                                                Sil</a>
                                                        </div>
                                                        <div class="">
                                                            <a href="/admin/<%=ueruen._id%>/ueruenGuencelle"
                                                                target="_top">
                                                                <img src="/images/refresh.png" alt="" title="">
                                                                Güncelle</a>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                            </div>
                                            <% } %>
                                                <% } %>
                                </div>
                            </div>
                        </div>

                </div>
            </div>