<% layout('layouts/boilerplate') %>

    <div id="TamSayfaAlani">
        <div id="TamSayfaSinirlamaAlani">

            <div id="UrunDetaySayfalariResimUrunBaslikFiyatVeIslemAlanlari">

                <div id="UrunDetaySayfalariResimlerAlani">
                    <div id="UrunDetaySayfalariBuyukResimAlani">
                        <div id="UrunDetaySayfalariBuyukResimDısCercevesi">
                            <img id="BuyukResim" src="<%=ueruen.images[0].url%>" alt="" title="">
                        </div>
                    </div>

                    <div id="UrunDetaySayfalariKucukResimlerAlani">
                        <div id="UrunDetaySayfalariKucukResimlerDengelemeAlani">
                            <% if(ueruen.images.length> 1) { %>
                                <% for(let i=0; i<ueruen.images.length; i++) {%>
                                    <div class="UrunDetaySayfalariKucukResimSinirlamaAlani">
                                        <div class="UrunDetaySayfalariKucukResimDısCercevesi">
                                            <img src="<%=ueruen.images[i].url%>" alt="" title=""
                                                onclick="$.UrunDetaySayfasiIcinResimDegistir('<%=ueruen.images[i].url%>');">
                                        </div>
                                    </div>
                                    <% } %>
                                        <% } %>
                        </div>
                    </div>
                </div>

                <div id="UrunDetaySayfalariBaslikVeIslemlerAlani">
                    <div id="UrunDetaySayfalariUrunBasligiAlani">
                        <%=ueruen.tarif %>
                    </div>

                    <div id="UrunDetaySayfalariUrunMarkasiAlani">
                        <img src="/images/vecihi-urundetay.png" alt="" title="">
                    </div>

                    <div id="UrunDetaySayfalariPaylasVeSepeteEkleButonlariAlani">
                        <div id="UrunDetaySayfalariInstagramPaylasButonuAlani">
                            <img src="/images/instagram-urundetay.png" alt="" title="">
                        </div>

                        <div id="UrunDetaySayfalariTwitterPaylasButonuAlani">
                            <img src="/images/twitter-detaysayfasi.png" alt="" title="">
                        </div>

                        <div id="UrunDetaySayfalariFavoriListesineEkleButonuAlani">
                            <img src="/images/favourite-urundetay.png" alt="" title="">
                        </div>

                        <div id="UrunDetaySayfalariSepeteEkleButonuAlani">
                            <span id="UrunDetaySayfalariSepeteEkleButonuIconu"><img src="/images/add-to-cart.png" alt=""
                                    title=""></span>
                            <span id="UrunDetaySayfalariSepeteEkleButonuMetni">Sepete Ekle</span>
                        </div>
                    </div>

                    <div id="UrunDetaySayfalariUrunVaryantVeFiyatAlani">
                        <% if(ueruen.kategori !=='vintageUeruenler' ) { %>
                            <div id="UrunDetaySayfalariUrunVaryantlarAlani">
                                <select name="UrunBedeni" class="FormElemanlariSelectlerii">
                                    <option selected="selected">Beden Seçiniz</option>
                                    <% for(let i=0; i<ueruen.beden.length; i++) {%>
                                        <option value="">
                                            <%=ueruen.beden[i] %>
                                        </option>

                                        <% } %>
                                </select>
                            </div>
                            <% } %>
                                <div id=" UrunDetaySayfalariUrunFiyatlandirmaAlani">
                                    <span class="UrunDetaySayfasiUrunFiyatiAlani">
                                        <%=ueruen.fiyat %> TL
                                    </span>
                                </div>
                    </div>


                    <div id="UrundetaySayfalariUrununKargoIslemleriDetayAlani">
                        <div id="UrundetaySayfalariUrunKargoIslemleriResimAlani">
                            <img src="/images/fast.png" alt="" title="">
                        </div>
                        <div id="UrundetaySayfalariUrunKargoIslemleriMetni">
                            Sipariş maksimum 24 saat içerisinde kargoya verilir.
                        </div>
                    </div>

                    <div id="UrundetaySayfalariUrununHizliGonderiDetayAlani">
                        <div id="UrundetaySayfalariUrunHizliGonderiResimAlani">
                            <img src="/images/fast.png" alt="" title="">
                        </div>
                        <div id="UrundetaySayfalariUrununHizliGonderiMetni">
                            İlgili ürün hızlı teslimat kapsamındadır aynı gün kargoya verilir.
                        </div>
                    </div>

                </div>




                <div id="UrundetaySayfalariUrununAciklamaAlani">
                    <div id="UrundetaySayfalariUrununAciklamaBaslikMetni">
                        Açıklama
                    </div>
                    <div id="UrundetaySayfalariUrununAciklamaIcerikMetni">
                        <% const originalString=ueruen.aciklama; %>
                            <% const delimiter="/break/" ; %>

                                <% const splittedArray=originalString.split(delimiter); %>
                                    <% for(let i=0; i<splittedArray.length; i++) {%>
                                        <%=splittedArray[i] %> <br>
                                            <% } %>
                    </div>
                </div>



                <div id=" UrundetaySayfalariUrununYorumlariAlani">
                    <div id="UrundetaySayfalariUrununYorumlariBaslikMetni">
                        Yorumlar
                    </div>
                    <div class="UrundetaySayfalariUrununYorumlariIcerikMetni">
                        Aşırı güzel kumaşı var tavsiye ederim. Çok rahat bir ürün tavsiye ederim.
                        Güzel yumuşak ve
                        kaliteli bir ürün teşekkürler. Aynı resimdeki gibi gayet güzel. Çok iyi
                        kumaşı da güzel.
                    </div>
                    <div class="UrundetaySayfalariUrununYorumlariIcerikMetni">
                        Aşırı güzel kumaşı var tavsiye ederim. Çok rahat bir ürün tavsiye ederim.
                        Güzel yumuşak ve
                        kaliteli bir ürün teşekkürler. Aynı resimdeki gibi gayet güzel. Çok iyi
                        kumaşı da güzel.
                    </div>
                    <div class="UrundetaySayfalariUrununYorumlariIcerikMetni">
                        Aşırı güzel kumaşı var tavsiye ederim. Çok rahat bir ürün tavsiye ederim.
                        Güzel yumuşak ve
                        kaliteli bir ürün teşekkürler. Aynı resimdeki gibi gayet güzel. Çok iyi
                        kumaşı da güzel.
                    </div>
                </div>

            </div>
        </div>
    </div>