<% layout('layouts/boilerplate') %>

    <div id="TamSayfaCerceveAlani">
        <div id="TamSayfaCerceveSinirlamaAlani">
            <div id="TamSayfaCerceveAlaniİciYuzdeYuzlukAlan">
                <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                        Hesabım > Adresler
                    </div>
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">
                        Tüm adreslerinizi bu alandan görüntüleyebilirsiniz veya güncelleyebilirsiniz.
                    </div>
                </div>

                <div class="TamSayfaCerceveAlaniIciHesabımSayfasiAdreslerKapsamaAlani">

                    <div class="TamSayfaCerceveAlaniIciHesabimSayfasiAdreslerBaslikAlani">Teslimat Adresleri <span
                            class="TamSayfaCerceveAlaniIciHesabimSayfasiAdreslerYeniAdresEkleMetni"><a
                                href="/yeniTeslimatAdres" target="_top">(+Yeni Adres Ekle)</a> </span></div>

                    <% for(let i=0; i<curentUser.teslimatAdres.length;i++) {%>
                        <% let teslimatAdres=curentUser.teslimatAdres[i]; %>
                            <div class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriDetayAlani">
                                <div class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriMetni">
                                    <%=teslimatAdres.isim%>
                                        <%=teslimatAdres.soyisim%> <br> TC.
                                            <%=teslimatAdres.tc%> <br>
                                                <%=teslimatAdres.sokak%>
                                                    <%=teslimatAdres.evNumarasi%>
                                                        <%=teslimatAdres.sehir%>
                                                            <%=teslimatAdres.uelke%><br>
                                                                <%=teslimatAdres.ceptelefonu%>
                                </div>

                                <div class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriGuncelleVeSilIslemAlani">
                                    <form action="/<%=teslimatAdres._id%>/teslimatAdresSil?_method=DELETE" method="POST"
                                        id="teslimatForm">
                                        <div
                                            class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriIslemIconlariMetni">
                                            <span onclick="deleteTeslimatForm(this)">Sil</span>
                                        </div>
                                        <div
                                            class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriIslemIconlariAlani">
                                            <img src="/images/delete.png" alt="" title="">
                                        </div>
                                    </form>
                                    <form action="/teslimatAdresGuencelle" method="POST" id="teslimatForm">
                                        <input type="hidden" name="teslimatAdresID" value="<%=teslimatAdres.id%>">
                                        <div
                                            class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriIslemIconlariMetni">
                                            <span onclick="submitTeslimatForm(this)">Güncelle</span>
                                        </div>
                                        <div class="
                                                TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriIslemIconlariAlani">
                                            <img src="/images/refresh.png" alt="" title="">
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <% } %>

                                <div class="TamSayfaCerceveAlaniIciHesabimSayfasiAdreslerBaslikAlani">Fatura Adresleri
                                    <span class="TamSayfaCerceveAlaniIciHesabimSayfasiAdreslerYeniAdresEkleMetni"><a
                                            href="/yeniFaturaAdres" target="_top">(+Yeni Adres Ekle)</a> </span>
                                </div>

                                <% for(let i=0; i<curentUser.faturaAdres.length;i++) {%>
                                    <% let faturaAdres=curentUser.faturaAdres[i]; %>
                                        <div class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriDetayAlani">
                                            <div class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriMetni">Eren
                                                <%=faturaAdres.uenvan%> <br>
                                                    <%=faturaAdres.vergiDaire%> <br>
                                                        <%=faturaAdres.vergiNr%> <br>
                                                            <%=faturaAdres.isim%>
                                                                <%=faturaAdres.soyisim%> <br>
                                                                    <%=faturaAdres.sokak%>
                                                                        <%=faturaAdres.evNumarasi%> <br>
                                                                            <%=faturaAdres.sehir%>
                                                                                <%=faturaAdres.uelke%><br>
                                                                                    <%=faturaAdres.ceptelefonu%>
                                            </div>

                                            <div
                                                class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriGuncelleVeSilIslemAlani">
                                                <form action="/<%=faturaAdres._id%>/faturaAdresSil?_method=DELETE"
                                                    method="POST" id="faturaForm">
                                                    <div
                                                        class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriIslemIconlariMetni">
                                                        <span onclick="deleteFaturaForm(this)">Sil</span>
                                                    </div>
                                                    <div
                                                        class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriIslemIconlariAlani">
                                                        <img src="/images/delete.png" alt="" title="">
                                                    </div>
                                                </form>
                                                <form action="/faturaAdresGuencelle" method="POST" id="FaturaForm">
                                                    <input type="hidden" name="faturaAdresID"
                                                        value="<%=faturaAdres.id%>">
                                                    <div
                                                        class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriIslemIconlariMetni">
                                                        <span onclick="submitFaturaAdresForm(this)">Güncelle</span>
                                                    </div>
                                                    <div
                                                        class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriIslemIconlariAlani">
                                                        <img src="/images/refresh.png" alt="" title="">
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                        <% } %>


                                            <div id="SayfalamaAlani">
                                            </div>

                </div>
            </div>
        </div>

        <script>
            function submitTeslimatForm(link) {
                var form = link.closest("form");
                form.submit();
            }
        </script>
        <script>
            function deleteTeslimatForm(link) {
                var form = link.closest("form");
                form.submit();
            }
        </script>
        <script>
            function submitFaturaAdresForm(link) {
                var form = link.closest("form");
                form.submit();
            }
        </script>
        <script>
            function deleteFaturaForm(link) {
                var form = link.closest("form");
                form.submit();
            }
        </script>