<% layout('layouts/boilerplate') %>

    <div id="TamSayfaCerceveAlani">
        <div id="TamSayfaCerceveSinirlamaAlani">
            <div id="TamSayfaCerceveAlaniİciYuzdeYuzlukAlan">
                <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                        Hesabım > Adresler
                    </div>
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">
                        Tüm adreslerinizi bu alandan görüntüleyebilirsiniz veya güncelleyebilirsiniz.
                    </div>
                </div>

                <div class="TamSayfaCerceveAlaniIciHesabımSayfasiAdreslerKapsamaAlani">

                    <div class="TamSayfaCerceveAlaniIciHesabimSayfasiAdreslerBaslikAlani">Teslimat Adresleri <span
                            class="TamSayfaCerceveAlaniIciHesabimSayfasiAdreslerYeniAdresEkleMetni"><a
                                href="/yeniTeslimatAdres" target="_top">(+Yeni Adres Ekle)</a> </span></div>

                    <% for(let i=0; i<curentUser.teslimatAdres.length;i++) {%>
                        <% let teslimatAdres=curentUser.teslimatAdres[i]; %>
                            <div class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriDetayAlani">
                                <div class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriMetni">
                                    <%=teslimatAdres.isim%>
                                        <%=teslimatAdres.soyisim%> <br> TC.
                                            <%=teslimatAdres.tc%> <br>
                                                <%=teslimatAdres.sokak%>
                                                    <%=teslimatAdres.evNumarasi%>
                                                        <%=teslimatAdres.sehir%>
                                                            <%=teslimatAdres.uelke%><br>
                                                                <%=teslimatAdres.ceptelefonu%>
                                </div>

                                <div class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriGuncelleVeSilIslemAlani">

                                    <div class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriIslemIconlariMetni">
                                        <a href="Adreslerim.html" target="_top">Sil</a>
                                    </div>
                                    <div class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriIslemIconlariAlani">
                                        <img src="/images/delete.png" alt="" title="">
                                    </div>

                                    <div class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriIslemIconlariMetni">
                                        <a href="/yeniTeslimatAdres" target="_top">Güncelle</a>
                                    </div>
                                    <div class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriIslemIconlariAlani">
                                        <img src="/images/refresh.png" alt="" title="">
                                    </div>
                                </div>
                            </div>

                            <% } %>

                                <div class="TamSayfaCerceveAlaniIciHesabimSayfasiAdreslerBaslikAlani">Fatura Adresleri
                                    <span class="TamSayfaCerceveAlaniIciHesabimSayfasiAdreslerYeniAdresEkleMetni"><a
                                            href="/yeniFaturaAdres" target="_top">(+Yeni Adres Ekle)</a> </span>
                                </div>

                                <% for(let i=0; i<curentUser.faturaAdres.length;i++) {%>
                                    <% let faturaAdres=curentUser.faturaAdres[i]; %>
                                        <div class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriDetayAlani">
                                            <div class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriMetni">Eren
                                                <%=faturaAdres.isim%>
                                                    <%=faturaAdres.soyisim%> <br> TC.
                                                        <%=faturaAdres.tc%> <br>
                                                            <%=faturaAdres.sokak%>
                                                                <%=faturaAdres.evNumarasi%>
                                                                    <%=faturaAdres.sehir%>
                                                                        <%=faturaAdres.uelke%><br>
                                                                            <%=faturaAdres.ceptelefonu%>
                                            </div>

                                            <div
                                                class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriGuncelleVeSilIslemAlani">

                                                <div
                                                    class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriIslemIconlariMetni">
                                                    <a href="Adreslerim.html" target="_top">Sil</a>
                                                </div>
                                                <div
                                                    class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriIslemIconlariAlani">
                                                    <img src="/images/delete.png" alt="" title="">
                                                </div>

                                                <div
                                                    class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriIslemIconlariMetni">
                                                    <a href="Adres-Guncelle.html" target="_top">Güncelle</a>
                                                </div>
                                                <div
                                                    class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriIslemIconlariAlani">
                                                    <img src="/images/refresh.png" alt="" title="">
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>


                                            <div id="SayfalamaAlani">
                                            </div>

                </div>
            </div>
        </div>