<% layout('layouts/boilerplate') %>

    <div id="TumSayfaAlani">

        <div id="TamSayfaCerceveAlani">
            <div id="TamSayfaCerceveSinirlamaAlani">

                <form id="AlisverisSepetiFormu" action="Alisveris-Sepeti-Odeme.html" method="post">
                    <div id="TamSayfaCerceveAlaniIciAlisverisSepetiSayfasiSolAlan">
                        <div class="TamSayfaCerceveAlaniİciAlisverisSepetiAltiCizgiliBaslikAlani">
                            <div class="TamSayfaCerceveAlaniİciAlisverisSepetiAltiCizgiliBaslikAlaniUstBaslikMetni">
                                Alışveriş Sepeti</div>
                            <div class="TamSayfaCerceveAlaniİciAlisverisSepetiAltiCizgiliBaslikAlaniAltBaslikMetni">
                                Fatura ve teslimat bilgilerini aşağıdan belirtebilirsin.
                            </div>
                        </div>

                        <div class="TamSayfaCerceveAlaniİciAlisverisSepetiFaturaAdresleriAlani">
                            <div
                                class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriBaslikAlani">
                                Teslimat Bilgileri Seçimi</div>

                            <% for(let i=0; i<curentUser.teslimatAdres.length;i++) {%>
                                <% let teslimatAdres=curentUser.teslimatAdres[i]; %>

                                    <div
                                        class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriDetayAlani">
                                        <div
                                            class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriRadioButonAlani">
                                            <label
                                                class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriRadioButonSecenekKapsamaAlani">
                                                <input type="radio" name="FaturaAdresiSecimi" value="1"
                                                    class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriRadioButonInputlari">
                                                <span
                                                    class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriRadioButonBicimlendirmeAlani"></span>
                                            </label>
                                        </div>

                                        <div
                                            class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriAdresDetaylariAlani">
                                            <%=teslimatAdres.isim%>
                                                <%=teslimatAdres.soyisim%> <br> TC.
                                                    <%=teslimatAdres.tc%> <br>
                                                        <%=teslimatAdres.sokak%>
                                                            <%=teslimatAdres.evNumarasi%>
                                                                <%=teslimatAdres.sehir%>
                                                                    <%=teslimatAdres.uelke%><br>
                                                                        <%=teslimatAdres.ceptelefonu%>
                                        </div>
                                    </div>
                                    <% } %>

                        </div>

                        <div class="TamSayfaCerceveAlaniİciAlisverisSepetiTeslimatAdresleriAlani">
                            <div
                                class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriBaslikAlani">
                                Fatura Bilgileri Seçimi</div>

                            <% for(let i=0; i<curentUser.faturaAdres.length;i++) {%>
                                <% let faturaAdres=curentUser.faturaAdres[i]; %>

                                    <div
                                        class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriDetayAlani">
                                        <div
                                            class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriRadioButonAlani">
                                            <label
                                                class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriRadioButonSecenekKapsamaAlani">
                                                <input type="radio" name="TeslimatAdresiSecimi" value="1"
                                                    class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriRadioButonInputlari">
                                                <span
                                                    class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriRadioButonBicimlendirmeAlani"></span>
                                            </label>
                                        </div>

                                        <div
                                            class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriAdresDetaylariAlani">
                                            <%=faturaAdres.isim%>
                                                <%=faturaAdres.soyisim%> <br> TC.
                                                    <%=faturaAdres.tc%> <br>
                                                        <%=faturaAdres.sokak%>
                                                            <%=faturaAdres.evNumarasi%>
                                                                <%=faturaAdres.sehir%>
                                                                    <%=faturaAdres.uelke%><br>
                                                                        <%=faturaAdres.ceptelefonu%>
                                        </div>
                                    </div>
                                    <% } %>
                        </div>

                        <div class="TamSayfaCerceveAlaniIciAlisverisSepetiKargoFirmalariAlani">
                            <div class="TamSayfaCerceveAlaniIciAlisverisSepetiKargoFirmalariBaslikAlani">Kargo
                                Firması Seçimi</div>

                            <div class="TamSayfaCerceveAlaniIciKargoFirmalariAlani">
                                <div class="TamSayfaCerceveAlaniIciKargoFirmalariDengelemeAlani">

                                    <div class="TamSayfaCerceveAlaniIciKargoFirmasiSinirlamaAlani">
                                        <div class="TamSayfaCerceveAlaniIciKargoFirmasiLogosuaAlani">
                                            <img src="/images/aras.png" alt="" title="">
                                        </div>
                                        <div class="TamSayfaCerceveAlaniIciKargoFirmasiTabloAlani">
                                            <table class="TamSayfaCerceveAlaniIciKargoFirmasiTablosu" width="100%"
                                                cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td align="left" valign="top"
                                                            class="TamSayfaCerceveAlaniIciKargoFirmasiTablosuRadioButonSutunu">
                                                            <div
                                                                class="TamSayfaCerceveAlaniIciAlisverisSepetiKargoFirmalariuRadioButonAlani">
                                                                <label
                                                                    class="TamSayfaCerceveAlaniIciAlisverisSepetiKargoFirmalariuRadioButonSecenekKapsamaAlani">
                                                                    <input type="radio" name="KargoFirmasiSecimi"
                                                                        value="1"
                                                                        class="TamSayfaCerceveAlaniIciAlisverisSepetiKargoFirmalariRadioButonInputlari">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td align="left" valign="top"
                                                            class="TamSayfaCerceveAlaniIciKargoFirmasiTablosuBaslikVeFiyatmetniSutunu">
                                                            Aras Kargo 25,00 TL
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="TamSayfaCerceveAlaniIciKargoFirmasiSinirlamaAlani">
                                        <div class="TamSayfaCerceveAlaniIciKargoFirmasiLogosuaAlani">
                                            <img src="/images/yurtici.png" alt="" title="">
                                        </div>
                                        <div class="TamSayfaCerceveAlaniIciKargoFirmasiTabloAlani">
                                            <table class="TamSayfaCerceveAlaniIciKargoFirmasiTablosu" width="100%"
                                                cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td align="left" valign="top"
                                                            class="TamSayfaCerceveAlaniIciKargoFirmasiTablosuRadioButonSutunu">
                                                            <div
                                                                class="TamSayfaCerceveAlaniIciAlisverisSepetiKargoFirmalariuRadioButonAlani">
                                                                <label
                                                                    class="TamSayfaCerceveAlaniIciAlisverisSepetiKargoFirmalariuRadioButonSecenekKapsamaAlani">
                                                                    <input type="radio" name="KargoFirmasiSecimi"
                                                                        value="2"
                                                                        class="TamSayfaCerceveAlaniIciAlisverisSepetiKargoFirmalariRadioButonInputlari">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td align="left" valign="top"
                                                            class="TamSayfaCerceveAlaniIciKargoFirmasiTablosuBaslikVeFiyatmetniSutunu">
                                                            Yurtiçi Kargo 23,00 TL
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="TamSayfaCerceveAlaniIciKargoFirmasiSinirlamaAlani">
                                        <div class="TamSayfaCerceveAlaniIciKargoFirmasiLogosuaAlani">
                                            <img src="/images/mng.png" alt="" title="">
                                        </div>
                                        <div class="TamSayfaCerceveAlaniIciKargoFirmasiTabloAlani">
                                            <table class="TamSayfaCerceveAlaniIciKargoFirmasiTablosu" width="100%"
                                                cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td align="left" valign="top"
                                                            class="TamSayfaCerceveAlaniIciKargoFirmasiTablosuRadioButonSutunu">
                                                            <div
                                                                class="TamSayfaCerceveAlaniIciAlisverisSepetiKargoFirmalariuRadioButonAlani">
                                                                <label
                                                                    class="TamSayfaCerceveAlaniIciAlisverisSepetiKargoFirmalariuRadioButonSecenekKapsamaAlani">
                                                                    <input type="radio" name="KargoFirmasiSecimi"
                                                                        value="3"
                                                                        class="TamSayfaCerceveAlaniIciAlisverisSepetiKargoFirmalariRadioButonInputlari">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td align="left" valign="top"
                                                            class="TamSayfaCerceveAlaniIciKargoFirmasiTablosuBaslikVeFiyatmetniSutunu">
                                                            MNG Kargo 22,00 TL
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                    <div class="TamSayfaCerceveAlaniIciKargoFirmasiSinirlamaAlani">
                                        <div class="TamSayfaCerceveAlaniIciKargoFirmasiLogosuaAlani">
                                            <img src="/images/Surat.png" alt="" title="">
                                        </div>
                                        <div class="TamSayfaCerceveAlaniIciKargoFirmasiTabloAlani">
                                            <table class="TamSayfaCerceveAlaniIciKargoFirmasiTablosu" width="100%"
                                                cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td align="left" valign="top"
                                                            class="TamSayfaCerceveAlaniIciKargoFirmasiTablosuRadioButonSutunu">
                                                            <div
                                                                class="TamSayfaCerceveAlaniIciAlisverisSepetiKargoFirmalariuRadioButonAlani">
                                                                <label
                                                                    class="TamSayfaCerceveAlaniIciAlisverisSepetiKargoFirmalariuRadioButonSecenekKapsamaAlani">
                                                                    <input type="radio" name="KargoFirmasiSecimi"
                                                                        value="4"
                                                                        class="TamSayfaCerceveAlaniIciAlisverisSepetiKargoFirmalariRadioButonInputlari">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td align="left" valign="top"
                                                            class="TamSayfaCerceveAlaniIciKargoFirmasiTablosuBaslikVeFiyatmetniSutunu">
                                                            Sürat Kargo 18,40 TL
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="TamSayfaCerceveAlaniIciKargoFirmasiSinirlamaAlani">
                                        <div class="TamSayfaCerceveAlaniIciKargoFirmasiLogosuaAlani">
                                            <img src="/images/Ptt.png" alt="" title="">
                                        </div>
                                        <div class="TamSayfaCerceveAlaniIciKargoFirmasiTabloAlani">
                                            <table class="TamSayfaCerceveAlaniIciKargoFirmasiTablosu" width="100%"
                                                cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td align="left" valign="top"
                                                            class="TamSayfaCerceveAlaniIciKargoFirmasiTablosuRadioButonSutunu">
                                                            <div
                                                                class="TamSayfaCerceveAlaniIciAlisverisSepetiKargoFirmalariuRadioButonAlani">
                                                                <label
                                                                    class="TamSayfaCerceveAlaniIciAlisverisSepetiKargoFirmalariuRadioButonSecenekKapsamaAlani">
                                                                    <input type="radio" name="KargoFirmasiSecimi"
                                                                        value="5"
                                                                        class="TamSayfaCerceveAlaniIciAlisverisSepetiKargoFirmalariRadioButonInputlari">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td align="left" valign="top"
                                                            class="TamSayfaCerceveAlaniIciKargoFirmasiTablosuBaslikVeFiyatmetniSutunu">
                                                            Ptt Kargo 16,40 TL
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div id="TamSayfaCerceveAlaniIciAlisverisSepetiSayfasiSagAlan">
                    <div class="TamSayfaCerceveAlaniİciAlisverisSepetiAltiCizgiliSagBaslikAlani">
                        <div class="TamSayfaCerceveAlaniİciAlisverisSepetiAltiCizgiliSagBaslikAlaniUstBaslikMetni">
                            Sipariş özeti</div>
                        <div class="TamSayfaCerceveAlaniİciAlisverisSepetiAltiCizgiliSagBaslikAlaniAltBaslikMetni">
                            Toplam 5 adet ürün.
                        </div>
                    </div>

                    <div class="TamSayfaCerceveAlaniİciAlisverisSepetiOdenecekTutarBaslikAlani">Ödenecek Tutar (KDV
                        DAHİL)</div>

                    <div class="TamSayfaCerceveAlaniİciAlisverisSepetiOdenecekTutarRakamAlani">1.000.00 TL</div>

                    <div class="TamSayfaCerceveAlaniİciAlisverisSepetiSiparisOzetiIciButonAlani">
                        <a href="/alisverisSepetiOedeme" target="_top">
                            <span class="TamSayfaCerceveAlaniİciAlisverisSepetiSiparisOzetiIciButonuMetni">Devam
                                Et</span>
                    </div>

                    <div class="TamSayfaCerceveAlaniİciAlisverisSepetiUrunlerToplamiKdvDahilBaslikAlani">Ürünler
                        Toplamı (KDV DAHİL)</div>
                    <div class="TamSayfaCerceveAlaniİciAlisverisSepetiUrunlerToplamiKdvDahilRakamAlani">1000 TL
                    </div>

                    <div class="TamSayfaCerceveAlaniİciAlisverisSepetiIndirimlerToplamiKdvDahilBaslikAlani">
                        İndirimler Toplamı (KDV DAHİL)</div>
                    <div class="TamSayfaCerceveAlaniİciAlisverisSepetiIndirimlerToplamiKdvDahilRakamAlani">1000 TL
                    </div>


                    <div class="TamSayfaCerceveAlaniİciAlisverisSepetiKargoUcretleriToplamiKdvDahilBaslikAlani">
                        Kargo Ücreti (KDV DAHİL)</div>
                    <div class="TamSayfaCerceveAlaniİciAlisverisSepetiKargoUcretleriToplamiKdvDahilRakamAlani">24.50
                        TL</div>


                </div>
            </div>
        </div>

    </div>