<% layout('layouts/boilerplate') %>

    <div id="TumSayfaAlani">

        <div id="TamSayfaCerceveAlani">
            <div id="TamSayfaCerceveSinirlamaAlani">

                <form id="AlisverisSepetiFormu" action="Alisveris-Sepeti-Odeme.html" method="post">
                    <div id="TamSayfaCerceveAlaniIciAlisverisSepetiSayfasiSolAlan">
                        <div class="TamSayfaCerceveAlaniİciAlisverisSepetiAltiCizgiliBaslikAlani">
                            <div class="TamSayfaCerceveAlaniİciAlisverisSepetiAltiCizgiliBaslikAlaniUstBaslikMetni">
                                Alışveriş Sepeti</div>
                            <div class="TamSayfaCerceveAlaniİciAlisverisSepetiAltiCizgiliBaslikAlaniAltBaslikMetni">
                                Fatura ve teslimat bilgilerini aşağıdan belirtebilirsin.
                            </div>
                        </div>

                        <div class="TamSayfaCerceveAlaniİciAlisverisSepetiFaturaAdresleriAlani">
                            <div
                                class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriBaslikAlani">
                                Teslimat Bilgileri Seçimi</div>

                            <% for(let i=0; i<curentUser.teslimatAdres.length;i++) {%>
                                <% let teslimatAdres=curentUser.teslimatAdres[i]; %>

                                    <div
                                        class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriDetayAlani">
                                        <div
                                            class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriRadioButonAlani">
                                            <label
                                                class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriRadioButonSecenekKapsamaAlani">
                                                <input type="radio" name="TeslimatAdresiSecimi"
                                                    value="<%=teslimatAdres%>"
                                                    class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriRadioButonInputlari">
                                                <span
                                                    class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriRadioButonBicimlendirmeAlani"></span>
                                            </label>
                                        </div>

                                        <div
                                            class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriAdresDetaylariAlani">
                                            <%=teslimatAdres.isim%>
                                                <%=teslimatAdres.soyisim%> <br> TC.
                                                    <%=teslimatAdres.tc%> <br>
                                                        <%=teslimatAdres.sokak%>
                                                            <%=teslimatAdres.evNumarasi%>
                                                                <%=teslimatAdres.sehir%>
                                                                    <%=teslimatAdres.uelke%><br>
                                                                        <%=teslimatAdres.ceptelefonu%>
                                        </div>
                                    </div>
                                    <% } %>

                        </div>


                        <div class="TamSayfaCerceveAlaniİciAlisverisSepetiTeslimatAdresleriAlani">
                            <div
                                class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriBaslikAlani">
                                Teslim adresi ve Fatura adresi aynimi?</div>

                            <div
                                class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriDetayAlani">
                                <div class="radio-label-container">
                                    <input type="radio" id="evet" name="secenek" onclick="$.faturaBilgiGösterme()"
                                        checked>
                                    <label for=" evet">Evet</label>
                                </div>
                                <div class="radio-label-container">
                                    <input type="radio" id="hayir" name="secenek" onclick="$.faturaBilgiGöster()">
                                    <label for="hayir">Hayir</label>
                                </div>

                            </div>

                            <div class="TamSayfaCerceveAlaniİciAlisverisSepetiTeslimatAdresleriAlani" id="faturaBilgi">
                                <div
                                    class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriBaslikAlani">
                                    Fatura Bilgileri Seçimi</div>

                                <% for(let i=0; i<curentUser.faturaAdres.length;i++) {%>
                                    <% let faturaAdres=curentUser.faturaAdres[i]; %>

                                        <div
                                            class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriDetayAlani">
                                            <div
                                                class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriRadioButonAlani">
                                                <label
                                                    class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriRadioButonSecenekKapsamaAlani">
                                                    <input type="radio" name="TeslimatAdresiSecimi"
                                                        value="<%=faturaAdres%>"
                                                        class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriRadioButonInputlari">
                                                    <span
                                                        class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriRadioButonBicimlendirmeAlani"></span>
                                                </label>
                                            </div>

                                            <div
                                                class="TamSayfaCerceveAlaniIciAlisverisSepetiFaturaVeTeslimatAdresiBilgileriAdresDetaylariAlani">
                                                <%=faturaAdres.isim%>
                                                    <%=faturaAdres.soyisim%> <br> TC.
                                                        <%=faturaAdres.tc%> <br>
                                                            <%=faturaAdres.sokak%>
                                                                <%=faturaAdres.evNumarasi%>
                                                                    <%=faturaAdres.sehir%>
                                                                        <%=faturaAdres.uelke%><br>
                                                                            <%=faturaAdres.ceptelefonu%>
                                            </div>
                                        </div>
                                        <% } %>
                            </div>

                            <div class="TamSayfaCerceveAlaniIciAlisverisSepetiKargoFirmalariAlani">
                                <div class="TamSayfaCerceveAlaniIciAlisverisSepetiKargoFirmalariBaslikAlani">Kargo
                                    Firması</div>

                                <div class="TamSayfaCerceveAlaniIciKargoFirmalariAlani">
                                    <div class="TamSayfaCerceveAlaniIciKargoFirmalariDengelemeAlani">

                                        <div class="TamSayfaCerceveAlaniIciKargoFirmasiSinirlamaAlani">
                                            <% if(kargo) {%>
                                                <div class="TamSayfaCerceveAlaniIciKargoFirmasiLogosuaAlani">
                                                    <img src="<%=kargo.image.url%>" alt="" title="">
                                                </div>
                                                <div class="TamSayfaCerceveAlaniIciKargoFirmasiTabloAlani">
                                                    <table class="TamSayfaCerceveAlaniIciKargoFirmasiTablosu"
                                                        width="100%" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left" valign="top"
                                                                    class="TamSayfaCerceveAlaniIciKargoFirmasiTablosuRadioButonSutunu">
                                                                </td>
                                                                <td align="left" valign="top"
                                                                    class="TamSayfaCerceveAlaniIciKargoFirmasiTablosuBaslikVeFiyatmetniSutunu">
                                                                    <%=kargo.isim%>
                                                                        <%=kargo.uecret%> TL
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <% } else{ %>
                                                    <span>Henüz Kargo eklenmedi</span>

                                                    <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div id="TamSayfaCerceveAlaniIciAlisverisSepetiSayfasiSagAlan">
                    <div class="TamSayfaCerceveAlaniİciAlisverisSepetiAltiCizgiliSagBaslikAlani">
                        <div class="TamSayfaCerceveAlaniİciAlisverisSepetiAltiCizgiliSagBaslikAlaniUstBaslikMetni">
                            Sipariş özeti</div>
                        <div class="TamSayfaCerceveAlaniİciAlisverisSepetiAltiCizgiliSagBaslikAlaniAltBaslikMetni">
                            Toplam 5 adet ürün.
                        </div>
                    </div>

                    <div class="TamSayfaCerceveAlaniİciAlisverisSepetiOdenecekTutarBaslikAlani">Ödenecek Tutar (KDV
                        DAHİL)</div>
                    <% let tutar; %>
                        <%if(kargo){ tutar=toplamFiyat + kargo.uecret} else{tutar=toplamFiyat} %>
                            <div class="TamSayfaCerceveAlaniİciAlisverisSepetiOdenecekTutarRakamAlani">
                                <%=tutar%> TL
                            </div>

                            <div class="TamSayfaCerceveAlaniİciAlisverisSepetiSiparisOzetiIciButonAlani">
                                <a href="<%= kargo ? '/alisverisSepetiOedeme' : '#'%>" target="_top"
                                    class="<%= kargo ? '' : 'disabled'%>">
                                    <span class="TamSayfaCerceveAlaniİciAlisverisSepetiSiparisOzetiIciButonuMetni">Devam
                                        Et</span>
                            </div>
                            <div>
                                <span class="hint">
                                    <%= kargo ? '' : 'Lütfen Kargo ekleyiniz' %>
                                </span>
                            </div>
                            <div class="TamSayfaCerceveAlaniİciAlisverisSepetiUrunlerToplamiKdvDahilBaslikAlani">
                                Ürünler
                                Toplamı (KDV DAHİL)</div>
                            <div class="TamSayfaCerceveAlaniİciAlisverisSepetiUrunlerToplamiKdvDahilRakamAlani">
                                <%=toplamFiyat%> TL
                            </div>

                            <div class="TamSayfaCerceveAlaniİciAlisverisSepetiIndirimlerToplamiKdvDahilBaslikAlani">
                                İndirimler Toplamı (KDV DAHİL)</div>
                            <div class="TamSayfaCerceveAlaniİciAlisverisSepetiIndirimlerToplamiKdvDahilRakamAlani">
                                TL
                            </div>


                            <div class="TamSayfaCerceveAlaniİciAlisverisSepetiKargoUcretleriToplamiKdvDahilBaslikAlani">
                                Kargo Ücreti (KDV DAHİL)</div>
                            <% if(kargo) {%>
                                <div
                                    class="TamSayfaCerceveAlaniİciAlisverisSepetiKargoUcretleriToplamiKdvDahilRakamAlani">

                                    <%=kargo.uecret%>
                                        TL
                                </div>
                                <% }else{ %>
                                    <div
                                        class="TamSayfaCerceveAlaniİciAlisverisSepetiKargoUcretleriToplamiKdvDahilRakamAlani">

                                        <span>Henüz Kargo eklenmedi</span>
                                    </div>
                                    <% } %>
                </div>
            </div>
        </div>

    </div>

    <script>

        $(document).ready(function () {
            $.faturaBilgiGösterme();
        });


    </script>