<% layout('layouts/boilerplate') %>

    <div id="TamSayfaCerceveAlani">
        <div id="TamSayfaCerceveSinirlamaAlani">

            <div id="TamSayfaCerceveAlaniIciYuzdeElliSolAlan">
                <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                        Hesabım > Yeni Adres Ekleme</div>
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">
                        Aşağıdan yeni adres ekleyebilirsiniz.</div>
                </div>
                <form action="/faturaAdresGuencelle?_method=PUT" method="POST" novalidate class="validated-form">

                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">Firma Ünvanı</div>
                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani"><input
                            name="faturaAdres[firmaUnvani]" type="text" class="FormElemanlariTextInputlari"
                            value="<%=faturaAdres.uenvan%>" tabindex="1" required>
                        <div class="valid-feedback">Iyi!</div>
                        <div class="invalid-feedback">Lütfen Firma Ünvanı yazın</div>
                    </div>

                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">Firma Vergi Dairesi</div>
                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani"><input
                            name="faturaAdres[vergiDairesi]" type="text" class="FormElemanlariTextInputlari"
                            tabindex="2" value="<%=faturaAdres.vergiDaire%>" required>
                        <div class="valid-feedback">Iyi!</div>
                        <div class="invalid-feedback">Lütfen Vergi Dairesi yazın</div>
                    </div>

                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">Firma Vergi Numarası</div>
                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani"><input
                            name="faturaAdres[vergiNumarasi]" type="text" class="FormElemanlariTextInputlari"
                            tabindex="3" value="<%=faturaAdres.vergiNr%>" required>
                        <div class="valid-feedback">Iyi!</div>
                        <div class="invalid-feedback">Lütfen Vergi Numarası yazın</div>
                    </div>

                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">İsim</div>
                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani"><input name="faturaAdres[isim]"
                            type="text" class="FormElemanlariTextInputlari" tabindex="4" value="<%=curentUser.isim%>"
                            required>
                        <div class="valid-feedback">Iyi!</div>
                        <div class="invalid-feedback">Lütfen Isim yazın</div>
                    </div>

                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">Soyisim</div>
                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani"><input name="faturaAdres[soyisim]"
                            type="text" class="FormElemanlariTextInputlari" tabindex="4" value="<%=curentUser.soyisim%>"
                            required>
                        <div class="valid-feedback">Iyi!</div>
                        <div class="invalid-feedback">Lütfen Soyisim yazın</div>
                    </div>

                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">Cep Telefonu</div>
                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani"><input name="faturaAdres[telefon]"
                            type="text" class="FormElemanlariTextInputlari" tabindex="5"
                            value="<%=faturaAdres.ceptelefonu%>" required>
                        <div class="valid-feedback">Iyi!</div>
                        <div class="invalid-feedback">Lütfen Cep Telefonu yazın</div>
                    </div>

                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">Ülke</div>
                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani">
                        <select name="faturaAdres[uelke]" class="UelkeSelect" required>
                            <option class="" value="Türkiye">Türkiye</option>
                        </select>
                        <div class="valid-feedback">Iyi!</div>
                        <div class="invalid-feedback">Lütfen bir tane ülke secin</div>
                    </div>

                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">Sehir</div>
                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani"><input name="faturaAdres[sehir]"
                            type="text" class="FormElemanlariTextInputlari" tabindex="4" value="<%=faturaAdres.sehir%>"
                            required>
                        <div class="valid-feedback">Iyi!</div>
                        <div class="invalid-feedback">Lütfen sokağınzı yazın</div>
                    </div>

                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">Sokak</div>
                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani"><input name="faturaAdres[sokak]"
                            type="text" class="FormElemanlariTextInputlari" tabindex="4" value="<%=faturaAdres.sokak%>"
                            required>
                        <div class="valid-feedback">Iyi!</div>
                        <div class="invalid-feedback">Lütfen sokağınzı yazın</div>
                    </div>

                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">Ev numarası</div>
                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani"><input
                            name="faturaAdres[evNumarasi]" type="text" class="FormElemanlariTextInputlari" tabindex="5"
                            value="<%=faturaAdres.evNumarasi%>" required>
                        <div class="valid-feedback">Iyi!</div>
                        <div class="invalid-feedback">Lütfen ev numaranızı yazın</div>
                    </div>


                    <input type="hidden" name="faturaAdres[id]" value="<%=faturaAdres._id%>">
                    <div class="ButonlarIcinKapsamaAlani"><input type="submit" value="Fatura Adresi Güncelle"
                            class="FormElemanlariYesilButonlar" tabindex="6"></div>
                </form>
            </div>

        </div>
    </div>