<% layout('layouts/boilerplate') %>

    <div id="TamSayfaCerceveAlani">
        <div id="TamSayfaCerceveSinirlamaAlani">
            <div id="TamSayfaCerceveAlaniİciYuzdeYuzlukAlan">
                <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                        Hesabım > Siparişler
                    </div>
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">
                        Tüm siparişlerinizi bu alandan görüntüleyebilirsiniz.
                    </div>
                </div>

                <div class="accordion" id="accordionExample">
                    <!-- Her satin alinmis ürün icin satin alinan yil ve ay kayit ediliyor -->
                    <% if (siparisler) { const groupedSiparisler={}; siparisler.sepet.forEach((siparis)=> {
                        const tarihParts = siparis.tarih.split('.');
                        const year = tarihParts[2];
                        const month = tarihParts[1];

                        if (!groupedSiparisler[year]) {
                        groupedSiparisler[year] = {};
                        }

                        if (!groupedSiparisler[year][month]) {
                        groupedSiparisler[year][month] = [];
                        }

                        // Überprüfen, ob ein neuer Abschnitt begonnen werden muss
                        const currentSection = groupedSiparisler[year][month][groupedSiparisler[year][month].length -
                        1];
                        if (!currentSection || currentSection[0].tarih !== siparis.tarih || currentSection[0].saat !==
                        siparis.saat) {
                        groupedSiparisler[year][month].push([siparis]);
                        } else {
                        currentSection.push(siparis);
                        }
                        });

                        for (const year in groupedSiparisler) { %>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#<%= year %>" aria-expanded="true" aria-controls="<%= year %>">
                                    <%= year %>
                                </button>
                            </h2>
                            <div id="<%= year %>" class="accordion-collapse collapse show"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <% for (const month in groupedSiparisler[year]) { %>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#<%= year + month %>" aria-expanded="true"
                                                    aria-controls="<%= year + month %>">
                                                    <%= getTurkishMonthName(month) %>
                                                </button>
                                            </h2>
                                            <div id="<%= year + month %>" class="accordion-collapse collapse show"
                                                data-bs-parent="#<%= year %>">
                                                <div class="accordion-body">
                                                    <div class="row mb-2">
                                                        <div class="col-2">
                                                            Ürün resim
                                                        </div>
                                                        <div class="col-2">
                                                            Ürün Tarif
                                                        </div>
                                                        <div class="col-2">
                                                            Ürün Fiyat
                                                        </div>
                                                        <div class="col-2">
                                                            Ürün Miktar
                                                        </div>
                                                        <div class="col-2">
                                                            Siparis Gün
                                                        </div>
                                                        <div class="col-2">
                                                            Siparis Saat
                                                        </div>
                                                    </div>
                                                    <% let toplamFiyat=0; %>
                                                        <% groupedSiparisler[year][month].forEach((section)=> { %>
                                                            <% section.forEach((siparis)=> { %>
                                                                <div class="row mb-2">
                                                                    <div class="col-2">
                                                                        <img src="<%= siparis.ueruenGiyim.images[0].url %>"
                                                                            alt="" title="" style="width: 30px;">
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <%= siparis.ueruenGiyim.tarif %>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <%= siparis.ueruenGiyim.fiyat %>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <%= siparis.miktar %>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <%= siparis.tarih %>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <%= siparis.saat %>
                                                                    </div>
                                                                </div>
                                                                <% toplamFiyat=siparis.toplamFiyat %>
                                                                    <% }); %>
                                                                        <hr>
                                                                        <div class="row">
                                                                            <div class="col-12 text-start">
                                                                                <strong>Toplamfiyat:
                                                                                    <%=toplamFiyat%>
                                                                                        TL
                                                                                </strong>
                                                                            </div>
                                                                        </div>
                                                                        <hr
                                                                            style="border: none; border-top: 4px solid #000;">
                                                                        <% }); %>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                        <% } %>
                            <% } else { %>
                                <div>
                                    <h5>Henüz bir siparişiniz yok</h5>
                                </div>
                                <% } %>
                </div>
            </div>
        </div>
    </div>

    <% function getTurkishMonthName(month) { const months=["Ocak", "Şubat" , "Mart" , "Nisan" , "Mayıs" , "Haziran"
        , "Temmuz" , "Ağustos" , "Eylül" , "Ekim" , "Kasım" , "Aralık" ]; return months[parseInt(month) - 1]; } %>